//! **************************************************************************
// Written by: Map P.20131013 on Sat Apr 04 14:23:49 2015
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

